:root{
    --blue: #0D74C4;
    --dark-gray:  #3F4254;
    --darker-gray: #333333;

    font-family: 'Nunito', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;

    font-weight: 300;
  }

body{
    margin:0px;
    padding: 0px;
}

header{
    width: 100%;
    height: 45vh;

    background-color: var(--blue);
}

#logo_titulo{
    width: 95%;

    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: -20px;

    display: block;
}

#caixa_login{
    color:var(--blue);
    font-weight: bold;
    font-size: 1.2em;
    

    display: block;

    margin-left: auto;
    margin-right: auto;
    /* margin-top: -30px; */

    text-align: center;
}

#caixa_login p{
    background-color: white;
    display: inline;

    border-radius: 100px;
    
    padding: 0.6em 9vw;

    position: relative;
    top: -5vh;
}

/* Caixas de texto geral*/

main{
    position: relative;
    top: -10vh;
}

main h2{
    display: block;
    text-align: center;

    color: var(--darker-gray);
    margin-top: 4vh;
}

main div h2{
    color: var(--dark-gray);
    margin-top: 0vh;
}

main h3{
    color: #3F4254;
    margin-top: 0px;
}

main b{
    color: #3F4254;
}

.caixa_de_texto{
    background-color: white;
    line-height: 1.3em;

    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    width: 75%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;

    padding: 3vh 8%;
}

/* Caixas conteúdo */

#caixa_conteudo .caixa_de_texto{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#caixa_conteudo .icone_background{
    margin-left: -5%;
    margin-right: 7%;

    height: 5vh;
    
    padding: 6%;
    border-radius: 100px;
    
    background-color: #F3F6F9;
}

#caixa_conteudo img{
    opacity: 75%;

    height: 5vh;
}

/* Caixas Instrutores */

#caixa_instrutores .caixa_de_texto{
    height: 30vh;
}

#caixa_instrutores img{
    display: block;
    margin: auto;
    margin-bottom: 2vh;

    height: 12vh;
}

#caixa_instrutores .arrow_instrutor{
    background-color: var(--blue);

    position: relative;
    bottom: 1vh;

    height: 2vh;
    width: 2vh;
    padding: 2vh;

    border-radius: 100px;
}

/* "Que tal embarcar nessa jornada" */

#caixa_embarque_jornada{

    padding: 0px;
    background-color:#F3F6F9;

    display: flex;
    flex-direction: column;

    align-items: center;

    justify-content: space-around;

    position: relative;
    bottom: 0px;
}

/* Caixa com call to action de cadastro e login */
#embarque_texto{
    display: flex;
    flex-direction: column;
}

#calltoaction_embarque{
    font-size: 1.5em;

    color: var(--blue);
    font-weight: bold;
    display: inline;

    margin-bottom: 0.4em;
}

#faca_login{
    color: #3F4254;
    margin: 0px;
}

/* Caixa com butoes de cadastro e login */
#embarque_butoes{
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    text-align: center;

    margin-top: 1.5em;
    width: 80%;
}

#cadastrar{
    line-height: 4em;

    color: white;
    font-weight: 300;

    width: 47%;
    height: 4em;

    background: var(--blue);
    box-shadow: 2px 2px 25px rgba(13, 116, 196, 0.3);
    border-radius: 100px;

}

#login{
    line-height: 4em;

    color: var(--blue);

    width: 47%;
    height: 4em;

    background: #FFFFFF;
    box-shadow: 2px 2px 25px rgba(13, 116, 196, 0.3);
    border-radius: 100px;
}

/* footer */

footer{
    padding: 0px;
    /* height: 100%; */

    text-align: center;
    line-height: 1.5em;
    color: white;

    background-color: var(--blue);
}

#redes_sociais{
    margin: auto;
    width: 80%;

    display: flex;
    justify-content: space-between;
}

.rede_social_background{
    background-color: white;

    width: 50%;
    height: 50%;

    border-radius: 100px;
}

.rede_social_background img{
    background-color: red;

    width: 80%;

    opacity: 50%;
}

#visite_academicos{
    margin: 30px auto 40px auto;

    padding: 10px;

    color: var(--blue);
    background-color: white;

    width: 50%;

    box-shadow: 2px 2px 25px rgba(13, 116, 196, 0.3);
    border-radius: 100px;
}